# Managed by Ansible

source /etc/network/interfaces.d/*

auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}/24
    bridge-ports none
    bridge-stp off
    bridge-fd 0

    post-up echo 1 > /proc/sys/net/ipv4/ip_forward
    post-up iptables -t nat -A POSTROUTING -s '{{ ansible_default_ipv4.network }}/24' -o ens3 -j MASQUERADE
    post-down iptables -t nat -D POSTROUTING -s '{{ ansible_default_ipv4.network }}/24' -o ens3 -j MASQUERADE
